body {
}
.WelcomePageBody
{
    background-image:url("../Images/TrumpGif.gif");
    background-repeat:no-repeat;
    width: 100%;
    background-size:cover;

}
.center-div
{
  position: absolute;
  margin: auto;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height:100px;
  text-align:center;

}

.enterBtn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 30px;
  background: #056aad;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.enterBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}
.verticalLine {
  border-left: thick solid #ff0000;
}
h2
{
     font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}
h1
{
     font-family: times, Times New Roman, times-roman, georgia, serif;
 color: #444;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 51px;
 line-height: 44px;
 letter-spacing: -2px;
 font-weight: bold;
}
.btndiv
{
    clear:both;
    text-align:center;
}
.rightdiv
{
    float:right;
    width:40%
}
.leftdiv
{
    float:left;
    width: 60%;
}
.container
{
    width: 100%;
}